.footer__color {
  color: $secondary;
}
#footer {
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 30px rgb(0 0 0 / 10%);
  box-shadow: 0 1px 30px rgb(0 0 0 / 10%);
  color: $text;
}
#footer-bottom {
  text-align: center;
}
#footer-info {
  display: block;
}
#footer-nav {
  display: contents;
}

#footer .et_pb_widget .widgettitle {
  color: #2f5496;
}
#footer h4,
#footer .et_pb_widget h4.widgettitle {
  font-size: 25px !important;
}
#footer,
#footer li,
#footer p,
#footer a,
#footer span,
#footer .post-meta {
  font-size: 20px !important;
}
#footer .et_pb_widget .widgettitle {
  padding-bottom: 10px;
}
