.logo {
  order: 0;
  margin: 20px 0;
  display: flex;
  min-height: 70px;
  min-width: 600px;
}
.mp-title {
  min-height: 100px;
  order: 1;
  min-width: 600px;
  margin-left: 50px;
  &__main {
    font-size: 25px;
    word-wrap: break-word;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: $text;
    margin: 0;
  }
  &__description {
    font-size: 20px;

    display: block;
  }
}
#mp-title {
  display: none;
}
.mp-title__description {
  color: #4f4f4f;
}
.et-top-search {
  display: none;
}
@media (max-width: $large) {
  .et-top-search {
    display: block;
  }
  #header_search-icon {
    display: none;
  }
  .mp-title {
    min-width: 300px;
    color: $secondary;
    align-items: center;
    padding: 16px 0;
    margin: 0;

    &__main {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.2em;
      margin: 0;
      color: $secondary;
    }
  }
  #mp-title {
    display: block;
  }
  .mp-title__description {
    color: white;
  }
}
#et-navigation > ul > li > a {
  padding: 0;
}

#main-header .container {
  min-height: 68px;
}

#top-header {
  padding: 0;
}

#et-info .et-extra-social-icons .et-extra-icon:before {
  font-size: 20px;
}

#et-info .et-extra-social-icons .et-extra-icon {
  background: $primary !important;
}

#header_search-icon {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .mp-title__main {
    font-size: 35px;
    line-height: 1;
  }
  .mp-title__description {
    font-size: 25px;
  }
  #et-menu li {
    font-size: 20px;
  }
  #et-navigation > ul > li {
    margin: 0 25px;
  }
}
