.posts-blog-feed-module.masonry .paginated_page[data-columns="2"] .column {
  width: 100%;
}

.post {
  width: 100%;
}

@media (max-width: 980px) {
  .et_extra_layout.et_pb_gutters3 .et_pb_extra_column_main .et_pb_row {
    margin: 0;
  }
  .et_pb_column
    .et_pb_column_4_4
    .et_pb_column_0
    .et_pb_css_mix_blend_mode_passthrough
    .et-last-child {
    padding: 0;
  }
}

.posts-blog-feed-module .hentry {
  align-items: center;
}

.posts-blog-feed-module.standard
  .hentry.et-format-standard.has-post-thumbnail
  .post-content,
.posts-blog-feed-module.standard
  .hentry.et-format-text.has-post-thumbnail
  .post-content,
.posts-blog-feed-module.standard
  .hentry.type-page.has-post-thumbnail
  .post-content,
.posts-blog-feed-module.standard
  .hentry.type-post.has-post-thumbnail
  .post-content,
.posts-blog-feed-module.standard
  .hentry.type-product.has-post-thumbnail
  .post-content,
.posts-blog-feed-module.standard
  .hentry.type-project.has-post-thumbnail
  .post-content {
  width: 100%;
}
.color-post-title {
  color: $primary !important;
  font-size: 20px;
}

.posts-blog-feed-module .header {
  width: 0;
  padding: 0;
}
.post {
  &__excerpt-image {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    .excerpt {
      width: 50%;
      margin-right: 20px;
      p {
        margin-bottom: 0;
      }
    }
  }
  &__image {
    width: 45% !important;
  }

  &__readmore {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .read-more-button {
      max-height: 43px;
    }
  }
  &__share {
    &-icon {
      display: flex;
      align-items: center;
      min-width: 90px;
      justify-content: flex-end;
      position: relative;
    }

    &-text {
      margin-left: 5px;
    }
    .social-icons {
      display: none;
      position: absolute;
    }
    :hover ~ .social-icons {
      display: block;
      animation: shareTransition 300ms ease-in;
    }
    @keyframes shareTransition {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
    .social-icons:hover {
      display: block;
    }
    .et-extra-icon {
      background: rgb(0 0 0 / 55%);
    }

    .et-extra-icon-basic_print {
      display: none;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
  }
}

.et_pb_extra_module .post-meta {
  font-size: 17px;
}
.rating-star:before {
  color: $primary;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
  width: 50%;
}
.comment-form-url {
  display: none;
}
.single article.type-tips {
  padding-top: 30px;
}

.wp-block-file a.wp-block-file__button {
  background: #2f5496;
  border: 1px solid #2f5496;
}
.wp-block-file a.wp-block-file__button:hover {
  background: transparent;
  color: #2f5496;
}

@media (max-width: 1024px) {
  .mp-title {
    min-width: 264px;
  }
}

@media (max-width: 1024px) {
  .page .post-wrap {
    padding: 10px;
  }
  .post__excerpt-image .excerpt {
    width: 100%;
    margin-right: 0;
  }
  .post-title .entry-title {
    text-align: center;
  }
  .page .post-wrap h1 {
    text-align: center;
  }
  .container {
    width: 97%;
  }
  #footer .container {
    width: 90%;
  }
  .post__image {
    width: 80% !important;
  }
}
