.wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper {
  border: none;
}
.wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__input {
  padding: 10px;
  background: white;
}
.et_extra_layout .et_pb_extra_column_main .et_pb_column,
.et_pb_extra_column {
  padding: 0 33px;
  border-bottom: 1px solid grey;
}

.et_pb_widget .widgettitle,
.et_pb_widget .wp-block-group__inner-container > h2,
.et_pb_widget .wp-block-group__inner-container > h3 {
  background: #2f5496;
}
